<div class="component component-video">
    <div class="hd">
        <h3>{{config.title}}</h3>
    </div>
    <div class="bd">
        <ol class="component-video-list">
          {{#each data}}
              <li class="component-video-item">
                <a href="{{href}}"><img src="{{src}}" {{#if config.imageHeight}}height="{{imageHeight}}px"{{/if}} {{#if config.imageWidth}}width="{{imageWidth}}px"{{/if}}></a>
                <p>{{title}}</p>
              </li>
          {{/each}}
        </ol>
    </div>
    {{#if config.showMore}} 
      <div class="showmore"><a href="{{config.link}}">More</a></div>
  {{/if}}
</div>

