<div class="component component-gallery">
  <div class="picbox">
    <div>
      <img src="{{data.imgUrl}}" alt="{{data.imgTitle}}">
    </div>
    <s class="p_left" title="上一张">&nbsp;</s>
    <s class="p_right" title="下一张">&nbsp;</s>
    <div class="summary">
      <div class="description">
        <p>{{data.title}}</p>
      </div>
    </div>
  </div>
  <div class="photolist">
    <ul class="cf">
      {{#each data.children}}
        <li>
          <a target="_blank" href="#">
            <img alt="{{description}}" src="{{imgPath}}">
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
