<div class="component component-image switchable-cont" data-widget="switchable" {{#if config.playMode}}data-widge-play-mode="{{config.playMode}}"{{/if}} {{#if config.interval}}data-widge-interval="{{config.interval}}"{{/if}}>
    <ul class="nav nav-tabs" data-role="tabs">
        {{#each data}}
            <li><a href="#" data-role="tab"></a></li>
        {{/each}}
    </ul>
    <div class="tab-content" data-role="panes">
        {{#each data}}
            <div class="component-image-list tab-pane fade" data-role="pane">
                <div class="img"><a href="{{linkUrl}}" target="_blank"><img src="{{imgUrl}}" alt="{{imgAlt}}" {{#if config.imageHeight}}height="{{imageHeight}}px"{{/if}} {{#if config.imageWidth}}width="{{imageWidth}}px"{{/if}}></a></div>
                <p class="txt"><a href="{{linkUrl}}" target="_blank">{{{imgDescription}}}</a><b class="bg"></b></p>
            </div>
        {{/each}}
        {{#each data}}
            <div class="component-image-list tab-pane fade" data-role="pane">
                <div class="img"><a href="{{href}}" target="_blank"><img src="{{src}}" alt="{{title}}" {{#if config.imageHeight}}height="{{imageHeight}}px"{{/if}} {{#if config.imageWidth}}width="{{imageWidth}}px"{{/if}}></a></div>
                <p class="txt"><a href="{{href}}" target="_blank">{{{summary}}}</a><b class="bg"></b></p>
            </div>
        {{/each}}
    </div>

</div>

