<div class="component component-image switchable-cont" data-widget="switchable" {{#if config.playMode}}data-widge-play-mode="{{config.playMode}}"{{/if}} {{#if config.interval}}data-widge-interval="{{config.interval}}"{{/if}}>
    <ul class="nav nav-tabs" data-role="tabs">
        {{#each data}}
            <li><a href="#" data-role="tab"></a></li>
        {{/each}}
    </ul>
    <div class="tab-content" data-role="panes">
        {{#each data}}
            <div class="component-image-list tab-pane fade" data-role="pane">
                <div class="img"><a href="{{pageUrl}}" target="_blank"><img src="{{imgPath}}" alt="{{title}}" {{#if config.imageHeight}}height="{{config.imageHeight}}px"{{/if}} {{#if config.imageWidth}}width="{{config.imageWidth}}px"{{/if}}></a></div>
                <p class="txt"><a href="{{pageUrl}}" target="_blank">{{{description}}}</a><b class="bg"></b></p>
            </div>
        {{/each}}
    </div>

</div>

