<div class="component component-image switchable-cont" data-widget="switchable">
    <ul class="nav nav-tabs" data-role="tabs">
        {{#each data}}
            <li><a href="#" data-role="tab"></a></li>
        {{/each}}
    </ul>
    <div class="tab-content" data-role="panes">
        {{#each data}}
            <div class="component-image-list tab-pane fade" data-role="pane">
                <div class="img"><a href="{{linkUrl}}" target="_blank"><img src="{{imgUrl}}" alt="{{imgAlt}}"></a></div>
                <p class="txt"><a href="{{linkUrl}}" target="_blank">{{{imgDescription}}}</a><b class="bg"></b></p>
            </div>
        {{/each}}
    </div>

</div>

