<div class="component component-image">
    <div class="hd">
        <h3>{{config.title}}</h3>
    </div>
    <div class="bd">
        <ol class="component-image-list">
          {{#each data}}
            <div class="component-image-item">
              <a href="{{href}}" class="component-image-thumb">
                <img src="{{src}}" alt="{{title}}">
              </a>
              <p class="component-image-title">{{title}}</p>
            </div>
          {{/each}}
        </ol>
    </div>
</div>

