<div class="component component-image">
    <div class="hd">
        <h3>{{config.title}}</h3>
    </div>
    <div class="bd">
        <ol class="component-image-list">
          {{#each data}}
            <div class="component-image-item">
              <a href="{{pageUrl}}" class="component-image-thumb">
                <img src="{{imgPath}}" alt="{{title}}" {{#if config.imageHeight}}height="{{config.imageHeight}}px"{{/if}} {{#if config.imageWidth}}width="{{config.imageWidth}}px"{{/if}}>
              </a>
              <p class="component-image-title">{{title}}</p>
            </div>
          {{/each}}
        </ol>
    </div>
    {{#if config.showMore}} 
        <div class="showmore"><a href="{{config.link}}">More</a></div>
    {{/if}}
</div>

