<div class="component component-graphic-list">
  <ul>
    {{#each data}}
    <li class="component-graphic-item clearfix">
      <a href="{{pageUrl}}" class="component-graphic-thumb">
        <img src="{{imgPath}}" alt="{{title}}" {{#if config.imageHeight}}height="{{config.imageHeight}}px"{{/if}} {{#if config.imageWidth}}width="{{config.imageWidth}}px"{{/if}}>
      </a>
      <div class="component-graphic-content">
        <div class="component-graphic-title">
          <h3>{{title}}</h3>
        </div>
        <p class="component-graphic-summary">
          {{description}}
        </p>
      </div>

    </li>
    {{/each}}
  </ul>
  {{#if config.showMore}} 
      <div class="showmore"><a href="{{config.link}}">More</a></div>
  {{/if}}
</div>
